// config. de reset
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

// Regra block de container principal
.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1%;
}

// regra block do segundo container, com as regras element e modifier inseridas nela por conta do SASS
.produto {
    &__imagem {
        width: 100%;
    }

    &__nome {
        font-size: 1.2em;
        margin: 8px 0;
    }

    &__descricao {
        color: gray;
    }

    &--em-destaque { 
        border: 2px solid gold;
        padding: 8px;
        background-color: #ffff42;
    }
}