$cornum_1:#f5f6fa;

@use 'config/reset';
@use 'produtos';

body {
    background-color: $cornum_1;
}

li {
    list-style: none;
}


.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #182C61;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;
        cursor: pointer;

        a {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
    }

}

section {
    padding: 56px 0;
}

@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: 767px) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}